@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Poppins', sans-serif;
}
body{
    background-color: black;
}
header{
    width: 100%;
    padding: 1rem 0px;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}
main{
    width: 600px;
    margin: 2rem auto;
    padding: 2rem;
}

table, th,td{
    border: 1px dotted white;
    color: white;
}

table{
    margin: 0px auto;
}

td{
    padding: 1rem;
    text-align: center;
}
th{
    padding: 1rem;
    text-align: center;

}
.active{
    color: red;
    font-weight: bold;
}